<style>
    #blog{
        width: 100%;
        background: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-top: 5em;
    }
    
    #blog h2{
        width: 100%;
        margin: 15px;
    }

    .post{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #blog .post .title{
        color: teal;
        font-size:2em;
    }

    #blog .post p{
        width:80%;
        color:#000;
        font-size:1.2em;
        text-align: center;
    }

    #blog .post img{
        width:80%;
        margin:15px;
    }

</style>




<section id="blog">
    <h2>Blog</h2>

    <article class="post">

        <h3 class="title">Titulo</h3>

        <img src="img/placeholder.png" data-src='SLUG' alt="NAME">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nemo cumque quas, suscipit aut recusandae tempore reiciendis praesentium, ut. Totam fuga amet, est fugiat maxime soluta, magni animi accusantium eveniet!</p>
     
    </article>
</section>

<!--<div id="gallery">
        <div is='new-produst' id="products"></div>
                 
    </div>-->























