<style>/*
    #blog{
        width: 100%;
        background: rgba(46, 22, 3, 0.2);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    
    #blog h2{
        width: 100%;
    }

    #blog .sectitle{
        color: teal;
        width:100%;
        text-align: center;
        font-size:2em;
    }

    #blog p{
        width:80%;
        color:#000;
        font-size:1.2em;
        text-align: center;
    }

    #blog img{
        width:100%;
        height: 100px;
        margin:15px;
    }*/

</style>




<article id="blog">
    <h2>Blog</h2>

    <!--<h3 class="sectitle">Titulo</h3>

    <img src="img/placeholder.png" data-src='SLUG' alt="NAME">

    <p>TEXT</p>-->

    <div id="gallery">
        <div is='new-produst' id="products"></div>
                 
    </div>
 
</article>
