/* --------------------------------- 
Site: 		Natural Love
Author:		Elias Rojas
Updated:	09/09/19
Updated by:	Elias Rojas
--------------------------------- */


/* --------------------------------- 
COLORS 
Body background: 		#deebe1
Container background: 	#deebe1
Main Text: 				#fff
Links: 					#00600f 
Visited links:			#098761 
Hover links:			#aaf433 
H1, H2, H3:				#037732
H4, H5, H6:				#000 
Footer:					#037732

--------------------------------- */

/* nunito-regular - latin */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/nunito-v11-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Nunito Regular'), local('Nunito-Regular'),
		 url('../fonts/nunito-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/nunito-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/nunito-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/nunito-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/nunito-v11-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Nunito;
}

html{
	scroll-behavior: smooth;
}

body{
	background: #e9e8e6;

}


/*
-----------------------
	app styles
-----------------------
*/
#app{
	width:100%;
	height:100%;
	overflow:hidden;
	font-family: nunito-light;
}

/*
-----------------------
	header styles
-----------------------
*/
header{
	width: 100%;
	height:5em;
	z-index: 10;
	padding: 0 5px;
	/*mix-blend-mode:multiply; color-burn , multiply */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background: #e9e8e6;
	position: absolute;
}

header #logo{
	width:3em;
	height:3em;
}


header nav{
	width: 80%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header nav ul{
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

header nav ul li{
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}
header nav ul li a{
	text-decoration: none;
	color:#037732;
	display: block;
	margin:15px;
	font-size: 1.2em;
}


/*
--------------------------------
 Button Styles
--------------------------------
 */
#installer {
	width: 100%;
    text-align: center;
	transition: opacity 300ms ease-in-out;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

#installer #install.available {
	display: block;
	right: 0;
}

#installer #notifications.available {
    display: block;
}

#installer .button {
	width: 115px;
    border: #037732 1px solid;
    padding: 10px 0;
    color: #037732;
	background-color: transparent;
	position: relative;
	top: 5em;
	z-index: 3;
	display: none;
}

#installer .button:focus {
    outline: none;
}

#installer .button:hover{
	border: #fff 1px solid;
	background: #037732;
	color: #fff;
}

/*
---------------------------
	history styles
---------------------------
*/

#history{
	width:100%;
	height:auto;
	margin-top: 20px;
}

#history #coment{
	width: 95%;
	height: auto;
	margin:50px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
}

#history #text{
	width:90%;
	height:auto;
	padding: 15px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	border-radius: 20px;
}

#history #silvia{
	width:90%;
	height:20em;
	border-radius: 10%;
	background: url(../img/sil.jpg) no-repeat center;
	background-size:cover;
}

#history #text p{
	width: 100%;
	position: relative;
	font-size: 1.3em;
	color:#037732;

}


/*
---------------------------
	Contact styles
---------------------------
*/

#contact{
	width:100%;
	height:auto;
}

#contact #boxs{
	width: 100%;
	height: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin:50px 0;
}

#contact .social{
	width: 6em;
    height:4em;
    background: url(../img/assets.svg) no-repeat 40% 88%;
    background-size:600% 300%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px;
}

#contact #boxs div:nth-child(1) .logo{
	width: 36px;
	height: 36px;
	background: url(../img/assets.svg) no-repeat 0% 67%;
	background-size:800%;
	position: relative;
	top: 10%;
	z-index: 5;
}

#contact #boxs div:nth-child(2) .logo{
	width: 36px;
	height: 36px;
	background: url(../img/assets.svg) no-repeat 14% 67%;
	background-size:800%;
	position: relative;
	top: 10%;
	z-index: 5;
}


#contact #boxs div:nth-child(3) .logo{
	width: 36px;
	height: 36px;
	background: url(../img/assets.svg) no-repeat 0% 100%;
	background-size:800%;
	position: relative;
	top: 10%;
	z-index: 5;
}


#contact #boxs div:nth-child(4) .logo{
	width: 36px;
	height: 36px;
	background: url(../img/assets.svg) no-repeat 14% 100%;
	background-size:800%;
	position: relative;
	top: 10%;
	z-index: 5;
}

/*
---------------------------
	title section styles
---------------------------
*/

h2{
	color:#037732;
	font-size:3em;
	text-align:center;
	width:100%;
}

/*
---------------------------
	footer styles
---------------------------
*/

footer{
	width:100%;
	height:7vh;
	background: #037732;
	text-align:center;
	position:relative;
	bottom: 0;
}

footer p{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size: 0.5em;
	color:#fff;
}

















